<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My social network API</title>
</head>
<body>
    <h1>Welcome to my social network API!</h1>
    <p>In this API you can:</p>
    <li>Get all profiles (/profiles GET);</li>
    <li>Get a specific profile by id (/profiles/{id:int} GET);</li>
    <li>Create a new profile (/profiles POST);</li>
    <li>Hide or unhide an existing profile from the connection recomendation algorithm (/profiles/{id:int} PATCH);</li>
    <li>Get all connections (/connections GET);</li>
    <li>Create a new connection (/connections POST);</li>
    <li>Get a connection recomendation for an existing profile (/connection POST);</li>
    <h2>Thank you very much!</h2>
    <h3>Access the source code for this API <a href="https://github.com/eduardohferreiras/learning_api-DB-Django">here.</a></h3>
    <p>By eduardohferreiras@GitHub.</p>
</body>
</html>